# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


**/Build/**
**/Builds/**
**/Intermediate/**
**/DerivedDataCache/**
**/Saved/**
**/.vs/**
**/.vscode/**
**/Binaries/**
**/obj/**
**/.idea/**
**/autosave/**

PlayGround/.ignore
PlayGround/PlayGround.sln
AroundMe/.ignore
AroundMe/AroundMe.sln

AroundMe/.vsconfig
AroundMe/AroundMe.code-workspace
AroundMe/InstallHooksCache.ini
AroundMe/Work_Files/character/CN_BIRD/.mayaSwatches/CN_BIRD_work.mb.swatches
AroundMe/Work_Files/character/CN_BIRD/workspace.mel
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/image.png
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0209.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0210.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0211.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0212.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0213.mb
/AroundMe/Work_Files/character/CN_BIRD/autosave
/AroundMe/Work_Files/character/CN_BIRD/.mayaSwatches
AroundMe/Work_Files/character/CN_BIRD/CN_BIRD_work_out.mb
/AroundMe/Work_Files/character/CN_BIRD/FBX/_old
/AroundMe/Work_Files/character/CN_BIRD/SbsPt
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/CN_BIRD_BODY_00_uv.png
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/CN_BIRD_HEAD_00_uv.png
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/Head_UV.png
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/Ficial_ca.psd
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/Ficial_04.tif
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/Ficial_03.tif
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/Ficial_02.tif
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/Ficial_01.tif
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/CN_BIRD_HEAD_00_clr.psd
AroundMe/Work_Files/character/CN_BIRD/CN_BIRD_work_out_ficial.mb
AroundMe/Work_Files/character/CN_BIRD/CN_BIRD_work.mb
AroundMe/Work_Files/character/CN_BIRD/CN_BIRD_work.mb
*.code-workspace


#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
CoinDuel2D/library/
CoinDuel2D/temp/
CoinDuel2D/local/
CoinDuel2D/build/
CoinDuel2D/profiles/
CoinDuel2D/native
#//////////////////////////
# NPM
#//////////////////////////
CoinDuel2D/node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
CoinDuel2D/.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
CoinDuel2D/.idea/